@charset "UTF-8";

body {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.box {
  width: 100%; !important;
  display: inline-block; !important;
  box-sizing: border-box; !important;
  background: #fff; !important;
  padding: 20px; !important;
  margin-bottom: 10px; !important;
}
.box .title {
  margin-top: 0px;
}
.box.purple, .box.blue, .box.red, .box.orange, .box.green {
  color: #fff;
}
.box.purple {
  background: #5133AB;
}
.box.purple:hover {
  background: #3e2784;
}
.box.red {
  background: #AC193D;
}
.box.red:hover {
  background: #7f132d;
}
.box.green {
  background: #00A600;
}
.box.green:hover {
  background: #007300;
}
.box.blue {
  background: #2672EC;
}
.box.blue:hover {
  background: #125acd;
}
.box.orange {
  background: #DC572E;
}
.box.orange:hover {
  background: #b8431f;
}